<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Gift shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app" class="redeem-wrap">
      <div class="redeem-overlay"></div>
      <nav>
        <div class="logo"></div>

        <div
          @click="toggle = !toggle"
          id="nav-icon1"
          :class="toggle ? 'open' : ''"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>

        <ul :class="toggle ? 'open links' : 'links'">
          <li class="link">
            <a href="/">Home</a>
          </li>
          <li class="link">Gifts</li>
          <li class="link">
            <a href="./giftcards"> Gift cards</a>
          </li>
          <li class="link">
            <a href="./redeem"> Redeem giftcard</a>
          </li>
        </ul>
      </nav>
     

      
      <div class="redeem shadow" v-if="redemptionDone" style="text-align: center;">
        <img src="./assets/checked copy.svg" style="width: 200px;
        margin: 30px;" alt="">
        <p style="margin-top: 30px">
          Your card redemption request is completed. Thank you for your partronage
        </p>
      </div>
      
      <div class="redeem shadow" v-else>
        <p class="thick">Redeem card</p>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label mb-0"
            >Card Code</label
          >
          <input
            type="text"
            class="form-control mb-3"
            id="exampleFormControlInput1"
            placeholder=""
            v-model="formInfo.cardCode"
          />

          <label for="exampleFormControlInput1" class="form-label mb-0"
            >Withdrawal Code</label
          >
          <input
            type="text"
            class="form-control mb-3"
            id="exampleFormControlInput1"
            placeholder=""
            v-model="formInfo.withdrawalCode"
          />

          <label for="exampleFormControlInput1" class="form-label mb-0"
            >Amount</label
          >
          <input
            type="text"
            class="form-control mb-3"
            id="exampleFormControlInput1"
            placeholder=""
            v-model="formInfo.amount"
          />

          <label for="exampleFormControlInput1" class="form-label mb-0"
            >Bank</label
          >
          <select
            class="form-control form-selectl mb-3"
            aria-label="Default select example"
            v-model="formInfo.bank_code"
          >
            <option selected>Open this select menu</option>
            <option :value="bank.bankCode" v-for="bank in banks" :key="bank.bankCode">
              {{bank.bankName}}
            </option>
          </select>

          <label for="exampleFormControlInput1" class="form-label mb-0"
            >Account Number</label
          >
          <input
            type="text"
            class="form-control mb-3"
            id="exampleFormControlInput1"
            placeholder=""
            v-model="formInfo.account_number"
            :disabled="!formInfo.bank_code"
          />
          <p style="
            font-size: 12px;
            position: relative;
            top: -15px;
            text-align: right;
          ">{{formInfo.account_name}}</p>

        </div>

        <p v-if="errorMsg" style="color: red; font-size: 14px; margin-top: -25px;">
          {{errorMsg}}
        </p>
        <div class="btns">
          <button type="button" class="btn btn-Light" data-dismiss="modal">
            Close
          </button>
          <button type="button" :disabled="loading" class="btn btn-dark" @click="verifiedBank ? redeemCard() : verifyAcctNo()">
            <img src="./assets/loading.svg" class="rotate" v-if='loading' style="width: 15px;" alt="">
            <span v-else>
              {{verifiedBank ? 'Redeem' : 'Verify account'}}
            </span>
          </button>
        </div>
      </div>
    </div>

      <script src="./js/verify.js"></script>
    </div>
  </body>
</html>
