body {
  padding: 0;
  margin: 0;
  /* font-family: "Rubik", sans-serif; */
  font-family: "Inter", sans-serif;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 70px;
  padding: 0 50px;
  box-shadow: 0px 9px 18px rgba(9, 66, 125, 0.04);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 200;
  overflow: hidden;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("./assets/logo.png");
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 20px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #2c2c2c;
}

nav ul {
  display: inline-block;
  margin-bottom: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
ul li {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
  font-size: 16px;
  color: #15001f;
}

ul li a {
  color: #000000;
}
ul li a:hover {
  color: #5895c7;
}

#nav-icon1 {
  display: none;
}

.hero {
  height: 400px;
  background-image: url("./assets/card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
}

.hero .overlay {
  background-color: rgba(0, 17, 53, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700px;
  width: 400px;
  font-family: "Lobster", cursive;
  margin-bottom: 12px;
}
.overlay p {
  color: #fff;
  font-size: 16px;
  width: 400px;
  line-height: 150%;
}
section {
  padding: 50px 180px;
}
.my-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
}
.my-card:hover {
  /* box-shadow: 0px 9px 18px rgba(24, 31, 39, 0.089); */
}
.image {
  width: 100%;
  height: 300px;
  background-size: cover;
  overflow: hidden;
}
.texts {
  padding: 28px 0;
}
.my-card .top-title {
  font-size: 16px;
  /* font-weight: 600; */
  margin-top: -15px;
}
.my-card .desc {
  color: #5a585a;
  font-size: 14px;
  font-weight: 300;
}

.featured {
  background-color: #fafafa;
}
.section-title {
  font-size: 40px;
  margin-top: 20px;
  width: 400px;
  font-family: "Lobster", cursive;
}
.featured-item {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}
.item-image {
  background-image: url("./assets/4.jpg");
  height: 450px;
  overflow: hidden;
}
.featured-item .name {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0;
}

.featured-item .name span {
  float: right;
  font-size: 16px;
  /* font-weight: 300; */
}
.featured-item .info {
  font-size: 14px;
  color: #8f8f8f;
  font-weight: 300;
}
.featured-item button {
  /* float: right; */
}
.giftcard {
  width: 100%;
  margin-bottom: 80px;
  overflow: hidden;
  padding: 30px;
  box-shadow: 0px 9px 18px rgba(52, 61, 71, 0.089);
}

.giftcard img {
  height: 100px;
}

.giftcard .name {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 0;
}
.modal-body .thick {
  /* padding-bottom: 15px;
  border-bottom: 1px solid #dcdada; */
  font-size: 20px;
  font-weight: bold;
}
.light-thick {
  font-weight: 500;
}
button {
  background-color: #003655;
  color: #fff;
  border-radius: 4px;
  padding: 4px 20px;
  border: 0;
  font-weight: 300 !important;
  font-size: 14px !important;
  min-width: 80px;
}

.credit-card {
  width: calc(90% - 30px);
  height: 220px;
  background-image: url("./assets/card.png");
  background-position-y: 100%;
  border-radius: 12px;
  margin: 30px auto 30px;
  position: relative;
  overflow: hidden;
}
.credit-card .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.credit-card .main-text {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  color: #ffffff;
  z-index: 5;
  font-family: monospace;
}
.credit-card .price {
  font-size: 34px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  font-weight: 600;
  z-index: 5;
  font-family: monospace;
}

footer {
  background-color: #003655;
  height: 500px;
}
label {
  font-size: 14px;
}

.verify {
  text-align: center;
  padding: 200px 0;
}
.verify img {
  margin-bottom: 20px;
  width: 20px;
}
.verify p {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.redeem-wrap {
  background-image: url("./assets/card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
  height: 100vh;
}
.redeem-wrap .redeem-overlay {
  background-color: rgba(0, 0, 0, 0.219);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.redeem {
  width: 400px;
  margin: 90px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
.redeem .thick {
  font-size: 20px;
  font-weight: bold;
}
.redeem .btns {
  text-align: right;
}

.rotate {
  position: relative;
  top: -2px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .hero {
    background-position-y: 0;
  }
  .hero .overlay p {
    width: 80%;
    margin-left: 10%;
  }

  nav ul {
    display: none;
  }
  ul.open {
    width: 90%;
    background-color: #154771;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 80px 30px;
    display: block;
  }

  ul.open li {
    display: block;
    margin-bottom: 30px;
    color: #fff;
  }
  ul.open li a {
    color: #fff;
    font-size: 18px;
  }

  section {
    padding: 30px 20px;
  }
  .section-title {
    width: 90%;
  }

  .redeem {
    width: 90%;
    margin-left: 5%;
  }

  #nav-icon1 {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: inline-block;
  }
}

/* icon */

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #5895c7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1.open span {
  background: #ffffff;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
